[submodule "vendor/github.com/aletheia7/gogroup"]
	path = vendor/github.com/aletheia7/gogroup
	url = https://github.com/aletheia7/gogroup.git
[submodule "vendor/github.com/aletheia7/sd"]
	path = vendor/github.com/aletheia7/sd
	url = https://github.com/aletheia7/sd.git
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "vendor/github.com/k-sone/critbitgo"]
	path = vendor/github.com/k-sone/critbitgo
	url = https://github.com/k-sone/critbitgo.git
[submodule "vendor/github.com/aletheia7/mbus"]
	path = vendor/github.com/aletheia7/mbus
	url = https://github.com/aletheia7/mbus.git
